.access-section {
  padding: calc(var(--hor-padding) * 0.5);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  picture {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: calc(var(--fs) * 3.75);
      opacity: 0.75;
    }
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --width: calc(var(--fs) * 32.4375);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: calc(var(--fs) * 38.6875);
      height: calc(var(--fs) * 52.1875);
      border-radius: 50%;
      border-radius: 52.1875rem;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 85, 255, 0.5) 0%,
        rgba(0, 120, 255, 0) 100%
      );
      filter: blur(10vw);
      -webkit-filter: blur(10vw);
      opacity: 0.75;
      z-index: -1;
      pointer-events: none;
    }
    form {
      width: var(--width);
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin-bottom: calc(var(--fs) * 3.875);
        margin-top: calc(var(--fs));
      }
      .field-wrapper {
        width: 100%;
        margin-top: calc(var(--fs) * 1.75);
        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type,
        &.last {
          margin-bottom: calc(var(--fs) * 2.38);
        }
        .field {
          width: 100%;
          margin: 0 !important;
          input {
            font-size: calc(var(--fs) * 1.125);
          }
        }
      }
      .checks {
        margin-top: calc(var(--fs) * 2.39);
        width: var(--width);
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        gap: calc(var(--fs) * 0.75);
        .check {
          display: flex;
          align-items: flex-start;
          cursor: pointer;
          input {
            margin: 0;
            accent-color: var(--MAIN-BLUE);
          }
          label {
            margin-left: calc(var(--fs) * 0.875);
            cursor: pointer;
          }
        }
      }
    }
    .forgot {
      margin-top: calc(var(--fs) * 3.5);
      color: var(--MAIN-BLUE);
      align-self: flex-start;
      text-align: left;
    }
    .reset {
      margin-top: calc(var(--fs) * 3.5);
      color: #757575;
      a {
        color: var(--MAIN-BLUE);
        &:hover {
          text-decoration: underline !important;
          color: #fff;
        }
      }
    }
    .alternative {
      width: var(--width);
      margin-top: calc(var(--fs) * 1.5);
      .or {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        gap: calc(var(--fs) * 1.31);
        align-items: center;
        strong {
          width: 100%;
          height: 1px;
          background-color: #848484;
          display: block;
        }
        span {
          color: #848484;
          text-transform: capitalize;
        }
      }
      .options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: calc(var(--fs) * 3.63);
        .btn {
          height: calc(var(--fs) * 2.6875);
          border-radius: calc(var(--fs) * 2);
          border: 1px solid #848484;
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: max-content;
          gap: calc(var(--fs) * 0.69);
          align-items: center;
          padding-left: calc(var(--fs) * 1.5);
          padding-right: calc(var(--fs));
          transition:
            background-color 0.15s ease-in,
            color 0.15s ease-in;
          &:hover {
            background-color: #848484;
            color: #fff;
            border-color: #00000000;
            img {
              filter: brightness(2);
            }
          }
          img {
            width: calc(var(--fs) * 1.25);
            height: calc(var(--fs) * 1.25);
            object-fit: contain;
          }
          &:last-of-type {
            img {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
  .confirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > * {
      text-align: center;
    }
    img {
      width: calc(var(--fs) * 6);
      height: calc(var(--fs) * 6);
      object-fit: contain;
    }
    h1 {
      margin-top: calc(var(--fs) * 2.8);
      margin-bottom: calc(var(--fs) * 4.25);
    }
    span {
      width: calc(var(--fs) * 29.75);
      display: block;
      margin-top: calc(var(--fs) * 1.81);
      color: #757575;
    }
  }
}

@media (orientation: landscape) {
  .access-section {
    .ellipse-wrapper {
      height: 100vh;
      picture {
        width: 100% !important;
        height: 100% !important;
      }
      .ellipse {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -35%);
      }
    }
  }
}

@media (orientation: portrait) {
  .access-section {
    padding: 0 calc(var(--hor-padding) * 1.5);
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    picture {
      width: 100%;
      height: 100%;
      display: none;
      visibility: hidden;
      opacity: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: calc(var(--fs) * 3.75);
      }
    }
    .form-wrapper {
      --width: 100%;

      form {
        width: var(--width);
        h1 {
          margin-bottom: calc(var(--fs) * 3.19);
          margin-top: calc(var(--fs) * 1.19);
        }
        .field-wrapper {
          width: 100%;
          margin-top: calc(var(--fs) * 1.56);
          &:first-of-type {
            margin-top: 0;
          }
          &:last-of-type,
          &.last {
            margin-bottom: calc(var(--fs) * 2.38);
          }
          .field {
            width: 100%;
            margin: 0 !important;
            input {
              font-size: calc(var(--fs) * 0.875);
            }
          }
        }
        .primary-btn {
          font-size: calc(var(--fs));
        }
      }
      .forgot {
        margin-top: calc(var(--fs) * 1.75);
        font-size: calc(var(--fs) * 0.875);
      }
      .reset {
        margin-top: calc(var(--fs) * 1.56);
        a {
          color: var(--MAIN-BLUE);
          &:hover {
            text-decoration: underline !important;
            color: #fff;
          }
        }
      }
      .alternative {
        width: var(--width);
        margin-top: calc(var(--fs) * 2.25);
        .or {
          gap: calc(var(--fs) * 1.19);
          span {
            color: #848484;
            text-transform: capitalize;
            font-size: calc(var(--fs) * 0.875);
          }
        }
        .options {
          margin-top: calc(var(--fs) * 1.56);
          .btn {
            height: calc(var(--fs) * 2.375);
            border-radius: calc(var(--fs) * 2);
            gap: calc(var(--fs) * 0.73);
            padding-left: calc(var(--fs) * 0.87);
            padding-right: calc(var(--fs));
            img {
              width: calc(var(--fs) * 1.1);
              height: calc(var(--fs) * 1.1);
              object-fit: contain;
            }
            &:last-of-type {
              img {
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }
    .confirmed {
      width: 100%;
      img {
        width: calc(var(--fs) * 3.75);
        height: calc(var(--fs) * 3.75);
      }
      h1 {
        margin-top: calc(var(--fs) * 1.75);
        margin-bottom: calc(var(--fs) * 1.5);
      }
      span {
        width: 80%;
        margin-top: calc(var(--fs) * 1.75);
      }
    }

    .ellipse-wrapper {
      height: 100vh;
      picture {
        width: 100% !important;
        height: 100% !important;
        display: block;
        opacity: 1;
        visibility: visible;
      }
      .ellipse {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -35%);
      }
    }
  }

  @media (min-aspect-ratio: 0.625) {
    .access-section {
      .form-wrapper {
        --width: calc(var(--fs) * 32.4375);
        &::after {
          opacity: 0.85;
        }
        form {
          .field-wrapper .field {
            input {
              font-size: calc(var(--fs) * 1.125);
            }
          }
        }

        .forgot {
          font-size: var(--fs);
        }
        .alternative {
          .options {
            margin-top: calc(var(--fs) * 3.9);
            .btn {
              font-size: var(--fs);
              height: calc(var(--fs) * 2.6875);
            }
          }
        }
        .reset {
          margin-top: calc(var(--fs) * 2.87);
        }
      }
      .confirmed {
        img {
          width: calc(var(--fs) * 5);
          height: calc(var(--fs) * 5);
        }
        h1 {
          margin-top: calc(var(--fs) * 1.75);
          margin-bottom: calc(var(--fs) * 1.5);
        }
        span {
          width: calc(var(--fs) * 29.75);
          margin-top: calc(var(--fs) * 1.75);
        }
      }
    }
  }
}
