.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: calc(var(--fs) * 0.25);
  padding-left: calc(var(--fs) * 1);
  border-radius: calc(var(--fs) * 0.75);
  background: #fff;
  color: #131313;
  font-family: "Work Sans";
  font-size: calc(var(--fs) * 1.15388);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: calc(var(--fs) * -0.04613);
  height: calc(var(--fs) * 2.625);
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  transition: background-color 0.15s ease-in;
  .icon {
    width: calc(var(--fs) * 2.1875);
    height: calc(var(--fs) * 2.125);
    border-radius: calc(var(--fs) * 0.72113);
    background: linear-gradient(224deg, #6c8ae3 -47.2%, #3d60c9 74.45%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(var(--fs) * 0.625);
    pointer-events: none;
    img {
      width: calc(var(--fs) * 1.32469);
      height: calc(var(--fs) * 1.02556);
    }
  }
  &.black-type {
    background: #000;
    color: #fff;
    &:hover {
      background-color: #505050;
    }
  }
  &:hover {
    background-color: #d1d1d1;
  }
}

@media (orientation: landscape) {
  .primary-btn {
    &.icon-right {
      .icon {
        position: absolute;
        top: 50%;
        right: calc(var(--fs) * 0.25);
        transform: translate(0%, -50%);
      }
    }
  }
}

@media (orientation: portrait) {
  .primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: calc(var(--fs) * 0.25);
    padding-left: calc(var(--fs) * 0.875);
    border-radius: calc(var(--fs) * 0.75);
    font-size: calc(var(--fs) * 0.875);
    letter-spacing: calc(var(--fs) * -0.035);
    height: calc(var(--fs) * 2.29762);
    .icon {
      width: calc(var(--fs) * 1.97);
      height: calc(var(--fs) * 1.92);
      border-radius: calc(var(--fs) * 0.625);
      margin-left: calc(var(--fs) * 0.57);
      img {
        width: calc(var(--fs) * 1.08);
        height: calc(var(--fs) * 0.84);
      }
    }
  }
  @media (min-aspect-ratio: 0.625) {
    .primary-btn {
      font-size: calc(var(--fs) * 1.13625);
      height: calc(var(--fs) * 2.625);

      &.icon-right {
        display: grid;
        grid-template-columns: 1fr max-content;
        padding-left: calc(var(--fs) * 2);
      }
    }
  }
}
