.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--fs);
  padding: 0 !important;
  border: unset !important;
  margin: 0 !important;
  margin-top: calc(var(--fs) * 2.5) !important;
  overflow: hidden;
  width: calc(var(--fs) * 30.3125 + calc(var(--fs) * 0.5));
  height: calc(var(--fs) * 3 + calc(var(--fs) * 0.5));
  background: linear-gradient(
    -120deg,
    rgba(102, 102, 102, 1),
    #00000000 20%,
    #00000000 50%,
    rgba(102, 102, 102, 1) 90%
  );
  background: none;
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 0.9px solid rgba(102, 102, 102, 1);
    clip-path: polygon(
      0% 0%,
      50% 1px,
      100% 0%,
      100% 100%,
      80% calc(100% - 1px),
      0% 100%
    );
  }
  input {
    width: calc(100% - calc(var(--fs) * 0.1));
    height: calc(100% - calc(var(--fs) * 0.1));
    padding-left: calc(var(--fs) * 1);
    padding-right: calc(var(--fs) * 4);
    border-radius: inherit;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(0.1vw);
    -webkit-backdrop-filter: blur(0.1vw);
    pointer-events: auto;
  }
  button.btn-search {
    position: absolute;
    right: calc(var(--fs) * 0.5);
    top: 50%;
    transform: translate(0%, -50%);
    width: calc(var(--fs) * 2.26);
    height: calc(var(--fs) * 2.26);
    border-radius: calc(var(--fs) * 0.75);
    background: linear-gradient(224deg, #6c8ae3 -47.2%, #3d60c9 74.45%);
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      width: 55%;
      height: auto;
      transition: transform 0.15s ease-out;
    }
  }
}

@media (orientation: portrait) {
  .field {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: calc(var(--fs) * 0.875);
    margin-top: calc(var(--fs) * 2.5);
    width: calc(var(--fs) * 20 + calc(var(--fs) * 0.5));
    height: calc(var(--fs) * 2.5 + calc(var(--fs) * 0.5));
    input {
      padding-left: calc(var(--fs) * 1);
      padding-right: calc(var(--fs) * 4);
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }
    button.btn-search {
      right: calc(var(--fs) * 0.5);
      top: 50%;
    }
  }
}
