body.legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: initial;
  #hero-legal {
    background-image: url("/images/legal_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(var(--fs) * 35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12.5vh;
    margin-bottom: calc(var(--fs) * 7.75);
    min-height: unset;
    h1 {
      color: var(--White, #fff);
      text-align: center;
      font-style: normal;
      font-weight: 500;
      line-height: 1; /* 100% */
    }
  }
  .content-section {
    padding: 0 calc(var(--hor-padding));
    display: grid;
    grid-template-columns: 1fr max-content;
    .table-contents {
      height: fit-content;
      padding-left: calc(var(--hor-padding));
      padding-bottom: calc(var(--fs) * 10);
      span {
        color: #fff;
        font-size: calc(var(--fs) * 1.25);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin-bottom: calc(var(--fs) * 0.875);
      }
      .contents-scroller {
        .contents-links {
          display: grid;
          grid-auto-flow: row;
          grid-auto-columns: max-content;
          grid-auto-rows: max-content;
          gap: calc(var(--fs) * 0.875);

          a {
            color: #afafaf;
            font-size: var(--fs);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 1.2rem */
            border-radius: calc(var(--fs) * 0.625);
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            gap: calc(var(--fs) * 0.81);
            align-items: center;
            height: calc(var(--fs) * 3.5);
            padding: 0 calc(var(--fs) * 1.25);
            text-transform: capitalize;
            border: 1px solid rgba(0, 0, 0, 0);
            &.current-page {
              background: var(--MAIN-BLUE);
              color: #fff;
              svg path {
                fill: #fff;
              }
            }
            &:hover {
              border-color: #fff;
            }
            svg,
            img {
              width: calc(var(--fs) * 1.5);
              height: calc(var(--fs) * 1.5);
              object-fit: contain;
            }
          }
        }
      }
    }
    .legal-content {
      width: calc(var(--fs) * 67);
      margin-bottom: 20vh;
      margin-right: calc(var(--hor-padding));
      .paragraph-1 {
        text-align: left;
      }
      p,
      strong,
      li,
      th,
      tr {
        color: #afafaf;
        font-size: calc(var(--fs) * 1.125);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.35rem */
        margin-top: calc(var(--fs) * 2);
        &:first-of-type {
          margin-top: 0;
        }
      }
      strong {
        color: #fff;
      }
      ul {
        margin: calc(var(--fs) * 2) 0;
      }
      li {
        font-size: var(--fs);
        font-weight: 300;
        margin: 0;
        color: #fff;
        list-style-position: inside;
      }
      h2,
      h3 {
        color: #fff;
        font-size: calc(var(--fs) * 1.125);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 1.35rem */
        margin-top: calc(var(--fs) * 2);
        margin-bottom: calc(var(--fs));
      }
      a {
        display: inline-block;
      }
      table {
        width: 100%;
        margin: calc(var(--fs) * 3) 0;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 1px solid #fff;
          border-radius: calc(var(--fs) * 1.25);
        }
        th {
          width: 50% !important;
        }
        th {
          padding: calc(var(--fs) * 2) calc(var(--fs) * 2);
          text-align: left;
          color: #fff;
        }

        td {
          padding: calc(var(--fs) * 4);
        }
      }

      table,
      th,
      td {
        border: 1px solid #fff;
        border-radius: calc(var(--fs) * 1.25);
        border-collapse: collapse;
      }
      table {
        overflow: hidden;
      }
    }
  }
}

@media (orientation: portrait) {
  @media (max-aspect-ratio: 0.625) {
    body.legal {
      #hero-legal {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: calc(var(--fs) * 25);
        padding-top: calc(var(--top-space) * 1.5);
        margin-bottom: calc(var(--fs) * 3.44);
        align-items: flex-start;
      }
      .content-section {
        grid-template-columns: 100%;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        padding: 0;
        .table-contents {
          margin: 0 auto;
          height: fit-content;
          padding: 0 calc(var(--hor-padding) * 0) calc(var(--fs) * 1.5);
          position: static;
          top: unset;
          width: 100%;
          span {
            font-size: calc(var(--fs) * 0.895);
            padding: 0 calc(var(--hor-padding));
          }
          .contents-scroller {
            width: 100vw;
            overflow-x: auto;
            border: none;
            .contents-links {
              border-radius: calc(var(--fs) * 0.99475);
              border: 0.796px solid #3a3a3a;
              display: grid;
              grid-auto-flow: column;
              grid-auto-columns: max-content;
              width: fit-content;
              padding: calc(var(--fs) * 0.5) calc(var(--fs) * 1);
              justify-content: center;
              column-gap: calc(var(--fs));
              row-gap: calc(var(--fs) * 0.5);
              border-radius: 0;
              border: none;
              a {
                font-size: calc(var(--fs) * 1);
                border-radius: calc(var(--fs) * 0.625);
                gap: calc(var(--fs) * 0.45);
                height: calc(var(--fs) * 3);
                padding: 0 calc(var(--fs) * 1);
                width: fit-content;
                border: 1px solid var(--Gray-Paragraph);
                &:hover {
                  box-shadow: none;
                }
                &.current-page {
                  padding: 0 calc(var(--fs) * 1);
                  border-color: rgba(0, 0, 0, 0);
                }
                svg,
                img {
                  width: calc(var(--fs) * 1.25);
                  height: calc(var(--fs) * 1.25);
                }
              }
            }
          }
        }
        .legal-content {
          width: 100%;
          margin-bottom: 20vh;
          margin-right: calc(var(--hor-padding));
          padding: 0 calc(var(--hor-padding) * 1);
          p,
          strong,
          li,
          th,
          tr {
            color: #afafaf;
            font-size: calc(var(--fs) * 0.75);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 1.35rem */
            margin-top: calc(var(--fs) * 2);
            &:first-of-type {
              margin-top: 0;
            }
          }
          strong {
            color: #fff;
          }
          ul {
            margin: calc(var(--fs) * 2) 0;
          }
          li {
            font-size: calc(var(--fs) * 0.7);
            font-weight: 300;
            margin: 0;
            color: #fff;
            list-style-position: inside;
          }
          h2,
          h3 {
            font-size: calc(var(--fs) * 0.875);
            margin-top: calc(var(--fs) * 1);
            margin-bottom: calc(var(--fs) * 0.5);
          }
          a {
            display: inline-block;
          }
          table {
            width: 100%;
            margin: calc(var(--fs) * 3) 0;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              border: 1px solid #fff;
              border-radius: calc(var(--fs) * 1.25);
            }
            th {
              width: 50% !important;
            }
            th {
              padding: calc(var(--fs) * 1) calc(var(--fs) * 1);
              text-align: center;
              color: #fff;
            }

            td {
              padding: calc(var(--fs) * 1);
            }
          }

          table,
          th,
          td {
            border: 1px solid #fff;
            border-radius: calc(var(--fs) * 1.25);
            border-collapse: collapse;
          }
          table {
            overflow: hidden;
          }
        }
      }
    }
  }

  @media (min-aspect-ratio: 0.625) {
    body.legal {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: initial;
      #hero-legal {
        background-position: 50% 0%;
        width: 100%;
        height: calc(var(--fs) * 30);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 10.5vh;
        margin-bottom: calc(var(--fs) * 7.75);
        min-height: unset;
        h1 {
          color: var(--White, #fff);
          text-align: center;
          font-style: normal;
          font-weight: 500;
          line-height: 1; /* 100% */
        }
      }
      .content-section {
        padding: 0 calc(var(--hor-padding));
        grid-template-columns: repeat(2, 1fr);
        .table-contents {
          height: fit-content;
          padding-left: calc(var(--hor-padding));
          padding-bottom: calc(var(--fs) * 10);
          span {
            color: #fff;
            font-size: calc(var(--fs) * 1.25);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: block;
            margin-bottom: calc(var(--fs) * 0.875);
          }
          .contents-scroller {
            .contents-links {
              display: grid;
              grid-auto-flow: row;
              grid-auto-columns: max-content;
              grid-auto-rows: max-content;
              gap: calc(var(--fs) * 0.875);

              a {
                color: #afafaf;
                font-size: var(--fs);
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 1.2rem */
                border-radius: calc(var(--fs) * 0.625);
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: max-content;
                gap: calc(var(--fs) * 0.81);
                align-items: center;
                height: calc(var(--fs) * 3.5);
                padding: 0 calc(var(--fs) * 1.25);
                text-transform: capitalize;
                border: 1px solid rgba(0, 0, 0, 0);
                &.current-page {
                  background: var(--MAIN-BLUE);
                  color: #fff;
                  svg path {
                    fill: #fff;
                  }
                }
                &:hover {
                  border-color: #fff;
                }
                svg,
                img {
                  width: calc(var(--fs) * 1.5);
                  height: calc(var(--fs) * 1.5);
                  object-fit: contain;
                }
              }
            }
          }
        }
        .legal-content {
          width: 100%;
          margin-bottom: 20vh;
          margin-right: calc(var(--hor-padding));
          .paragraph-1 {
            text-align: left;
          }
          p,
          strong,
          li,
          th,
          tr {
            color: #afafaf;
            font-size: calc(var(--fs) * 1.125);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 1.35rem */
            margin-top: calc(var(--fs) * 2);
            &:first-of-type {
              margin-top: 0;
            }
          }
          strong {
            color: #fff;
          }
          ul {
            margin: calc(var(--fs) * 2) 0;
          }
          li {
            font-size: var(--fs);
            font-weight: 300;
            margin: 0;
            color: #fff;
            list-style-position: inside;
          }
          h2,
          h3 {
            color: #fff;
            font-size: calc(var(--fs) * 1.125);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 1.35rem */
            margin-top: calc(var(--fs) * 2);
            margin-bottom: calc(var(--fs));
          }
          a {
            display: inline-block;
          }
          table {
            width: 100%;
            margin: calc(var(--fs) * 3) 0;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              border: 1px solid #fff;
              border-radius: calc(var(--fs) * 1.25);
            }
            th {
              width: 50% !important;
            }
            th {
              padding: calc(var(--fs) * 2) calc(var(--fs) * 2);
              text-align: left;
              color: #fff;
            }

            td {
              padding: calc(var(--fs) * 4);
            }
          }

          table,
          th,
          td {
            border: 1px solid #fff;
            border-radius: calc(var(--fs) * 1.25);
            border-collapse: collapse;
          }
          table {
            overflow: hidden;
          }
        }
      }
    }
  }
}
