#new-section {
  padding-top: calc(var(--top-space) * 0.25);
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-template-columns: 100%;
  gap: min(calc(var(--fs) * 7.5), 6.5vh);
  place-items: center;
  place-content: center;
  .content {
    display: grid;
    grid-auto-flow: row;
    gap: calc(var(--fs) * 1.25);
    place-items: center;
    place-content: center;

    p {
      color: var(--Gray-Paragraph, #cbcbcb);
      text-align: center;
      font-family: "Work Sans";
      font-size: calc(var(--fs) * 1.875);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .shot {
    position: relative;
    picture {
      width: calc(var(--fs) * 39.3125);
      height: calc(var(--fs) * 29);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 85%;
      }
    }
    .detail {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        color: var(--White, #fff);
        font-family: "Work Sans";
        font-size: calc(var(--fs) * 2.375);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      span {
        color: var(--MAIN-BLUE, #6289ff);
        font-family: "Work Sans";
        font-size: calc(var(--fs) * 1.15388);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: calc(var(--fs) * -0.04613);
        margin-top: calc(var(--fs) * 0.62);
      }
      img {
        width: calc(var(--fs) * 19.5);
        height: calc(var(--fs) * 4.37813);
        margin-top: calc(var(--fs) * 1.34);
      }
      &:nth-of-type(odd) {
        img {
          transform: translateX(25%);
        }
      }
      &:nth-of-type(even) {
        img {
          transform: scaleX(-1) translateX(35%);
        }
      }
      &:nth-of-type(1) {
        top: 0;
        left: 0;
        transform: translate(calc(var(--fs) * -5 - 100%), calc(var(--fs) * -2));
      }
      &:nth-of-type(3) {
        bottom: 0;
        left: 0;
        transform: translate(calc(var(--fs) * -5 - 100%), calc(var(--fs) * -2));
      }
      &:nth-of-type(2) {
        top: 0;
        right: 0;
        transform: translate(
          calc(var(--fs) * 7.5 + 100%),
          calc(var(--fs) * -2)
        );
      }

      &:nth-of-type(4) {
        bottom: 0;
        right: 0;
        transform: translate(
          calc(var(--fs) * 7.5 + 100%),
          calc(var(--fs) * -2)
        );
      }
    }
  }

  .blue-shade {
    position: absolute;
    z-index: -1;
    width: 70vw;
    height: auto;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

@media (orientation: portrait) {
  #new-section {
    padding: calc(var(--top-space) * 2) 0;
    gap: min(calc(var(--fs) * 7.5), 6.5vh);
    min-height: unset;
    .content {
      gap: calc(var(--fs) * 0.625);

      p {
        font-size: calc(var(--fs) * 1.125);
      }
    }
    .shot {
      picture {
        width: calc(var(--fs) * 39.3125 * 0.6);
        height: calc(var(--fs) * 29 * 0.6);
        img {
          object-position: 0% 85%;
        }
      }
      .detail {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }

    .blue-shade {
      width: 150vw;
      opacity: 0.75;
    }
  }

  @media (min-aspect-ratio: 0.625) {
    #new-section {
      padding: calc(var(--top-space) * 2) 0 0;
      gap: min(calc(var(--fs) * 7.5), 6.5vh);
      min-height: unset;
      .content {
        gap: calc(var(--fs) * 0.625);

        p {
          font-size: calc(var(--fs) * 1.125);
        }
      }
      .shot {
        picture {
          width: calc(var(--fs) * 39.3125 * 0.6);
          height: calc(var(--fs) * 29 * 0.6);
          img {
            object-position: 0% 85%;
          }
        }
        .detail {
          display: none;
          opacity: 0;
          visibility: hidden;
        }
      }

      .blue-shade {
        width: 150vw;
        opacity: 0.75;
      }
    }
  }
}
