#product-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  padding: calc(var(--top-space) * 0.5) calc(var(--hor-padding)) 0;
  column-gap: calc(var(--fs) * 3.81);
  min-height: unset;
  & > * {
    grid-column: 2 / 3;
    text-align: left;
  }

  .pagination {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    padding-bottom: calc(var(--fs) * 1.5);
    span {
      text-transform: capitalize;
    }
    strong {
      color: #fff;
    }
  }
  .shots {
    width: calc(var(--fs) * 57.8125);
    height: calc(var(--fs) * 50.75);
    background-color: #111;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    border-radius: calc(var(--fs) * 1.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--fs) * 4.25) 0 calc(var(--fs) * 1.69);
    .splide {
      width: calc(var(--fs) * 41.1875);
    }
    .splide__track {
      height: 100%;
    }
    .splide__list {
    }
    #main-splide {
      height: calc(var(--fs) * 33.29931);
      .splide__slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
    }
    #thumbnail-splide {
      height: calc(var(--fs) * 7.7475);
      .splide__slide {
        width: calc(var(--fs) * 7.7475);
        height: 100%;
        border-radius: calc(var(--fs) * 1.25);
        border: 0.723px solid #373737;
        background: #1e1e1e;
        cursor: pointer;
        & > * {
          pointer-events: none;
        }
        &:hover,
        &.is-active {
          border-color: #fff;
        }
      }
    }
  }
  .h1 {
    padding-top: calc(var(--fs) * 2);
    grid-row: 2 / 3;
  }
  .subtitle-2 {
    padding-top: calc(var(--fs) * 1.5);
    grid-row: 3 / 4;
  }
  .details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--fs) * 0.75);
    grid-row: 4 / 5;
    padding: calc(var(--fs) * 3) 0 calc(var(--fs) * 2.25);
    div {
      display: flex;
      align-items: flex-start;
      img {
        width: calc(var(--fs) * 1.5);
        height: calc(var(--fs) * 1.5);
        object-fit: contain;
        margin-right: calc(var(--fs) * 0.75);
      }
    }
  }
  .title {
    color: #fff;
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 1.25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
    display: block;
    margin-bottom: calc(var(--fs) * 0.5);
  }
  .version {
    width: 100%;
    grid-row: 5 / 6;
    border-top: calc(var(--fs) * 0.1) solid #2f2f2f;
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(var(--fs));
    column-gap: calc(var(--fs) * 0.56);
    padding: calc(var(--fs) * 1.75) 0;
    padding-right: 20%;

    button {
      color: var(--Gray-Paragraph);
      border-radius: calc(var(--fs) * 1.25);
      border: 1px solid #a7a7a7;
      padding: calc(var(--fs) * 0.5) calc(var(--fs) * 1);
      transition:
        color 0.15s ease-in,
        border-color 0.15s ease-in;
      &:hover,
      &.active {
        color: #fff;
        border-color: #fff;
      }
    }
  }
  .add-to-cart {
    width: 100%;
    grid-row: 6 / 7;
    border-top: calc(var(--fs) * 0.1) solid #2f2f2f;
    padding: calc(var(--fs) * 1.75) 0;
    .counter {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: calc(var(--fs) * 0.2);
      align-items: center;
      margin-top: calc(var(--fs) * 1.51);
      button,
      input {
        width: calc(var(--fs) * 3.23);
        height: calc(var(--fs) * 3);
        border-radius: calc(var(--fs) * 0.67);
        border: 1px solid #353535;
        color: #fff;
        font-family: "Work Sans";
        font-size: calc(var(--fs) * 1);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        img {
          width: calc(var(--fs) * 1.35);
          height: calc(var(--fs) * 1.35);
        }
      }
      button:hover {
        border-color: #fff;
      }
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: calc(var(--fs) * 0.34);
      width: 100%;
      justify-content: space-between;
      margin-top: calc(var(--fs) * 2.24);
    }
  }
}

@media (orientation: portrait) {
  @media (min-aspect-ratio: 0.625) {
    #product-section {
      padding: calc(var(--top-space) * 1.5) calc(var(--hor-padding)) 0;
      column-gap: calc(var(--fs) * 1.44);
      .pagination {
        padding-bottom: calc(var(--fs) * 0.75);
        font-size: var(--fs);
      }
      .shots {
        width: calc(var(--fs) * 24.1875);
        height: calc(var(--fs) * 22.1875);
        border-radius: calc(var(--fs) * 0.5);
        padding: calc(var(--fs) * 1.31) 0 calc(var(--fs) * 0.69);
        .splide {
          width: calc(var(--fs) * 19.5);
        }
        #main-splide {
          height: calc(var(--fs) * 15.75);
        }
        #thumbnail-splide {
          height: calc(var(--fs) * 3.18);
          .splide__slide {
            width: calc(var(--fs) * 3.18);
            border-radius: calc(var(--fs) * 0.46);
            border: 0.3px solid #373737;
          }
        }
      }
      .h1 {
        padding-top: calc(var(--fs) * 0.5);
        font-size: calc(var(--fs) * 2.35);
      }
      .subtitle-2 {
        padding-top: calc(var(--fs) * 0.5);
        font-size: calc(var(--fs) * 1.17);
      }
      .details {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        gap: calc(var(--fs) * 1);
        grid-row: 4 / 5;
        padding: calc(var(--fs) * 1) 0 calc(var(--fs) * 1.25);
        align-items: center;

        div {
          img {
            margin-right: calc(var(--fs) * 1);
          }
        }
      }
      .title {
        font-size: calc(var(--fs) * 1.125);
        margin-bottom: calc(var(--fs) * 1.06);
      }
      .version {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: calc(var(--fs) * 0.49);
        column-gap: calc(var(--fs) * 0.42);
        padding: calc(var(--fs) * 1.27) 0 calc(var(--fs) * 1.5);
        .title {
          display: none;
        }

        button {
          border-radius: calc(var(--fs) * 0.8);
          padding: calc(var(--fs) * 0.56) calc(var(--fs) * 0.63);
        }
      }
      .add-to-cart {
        padding: calc(var(--fs) * 1.27) 0 calc(var(--fs) * 1.5);
        .counter {
          margin-top: calc(var(--fs) * 1);
          button,
          input {
            width: calc(var(--fs) * 2.75);
            height: calc(var(--fs) * 2.5);
            img {
              width: calc(var(--fs) * 1.31);
              height: calc(var(--fs) * 1.31);
            }
          }
        }
        .buttons {
          gap: calc(var(--fs) * 0.2);
          margin-top: calc(var(--fs) * 1.27);
        }
      }
    }
  }

  @media (max-aspect-ratio: 0.625) {
    #product-section {
      padding: calc(var(--top-space) * 1.5) calc(var(--hor-padding)) 0;
      column-gap: calc(var(--fs) * 1.44);
      grid-template-columns: 100%;
      & > * {
        grid-column: 1 / 2 !important;
        grid-row: auto !important;
      }
      .pagination {
        padding-bottom: calc(var(--fs) * 1.25);
        font-size: calc(var(--fs) * 0.75);
      }
      .shots {
        width: 100%;
        height: calc(var(--fs) * 22.1875);
        border-radius: calc(var(--fs) * 0.5);
        padding: calc(var(--fs) * 1.31) 0 calc(var(--fs) * 0.69);
        grid-row: 3 / 4 !important;
        margin-top: calc(var(--fs) * 1.62);
        .splide {
          width: calc(var(--fs) * 19.5);
        }
        #main-splide {
          height: calc(var(--fs) * 15.75);
        }
        #thumbnail-splide {
          height: calc(var(--fs) * 3.18);
          .splide__slide {
            width: calc(var(--fs) * 3.18);
            border-radius: calc(var(--fs) * 0.46);
            border: 0.3px solid #373737;
          }
        }
      }
      .h1 {
        padding-top: 0;
        font-size: calc(var(--fs) * 2.35);
        grid-row: 2 / 3 !important;
      }
      .subtitle-2 {
        padding-top: calc(var(--fs) * 2);
        font-size: calc(var(--fs) * 1.375);
      }
      .details {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        gap: calc(var(--fs) * 0.875);
        padding: calc(var(--fs) * 2.44) 0 0;
        align-items: center;
        div {
          img {
            margin-right: calc(var(--fs) * 1);
          }
        }
      }
      .title {
        font-size: calc(var(--fs) * 1.125);
        margin-bottom: calc(var(--fs) * 1.06);
      }
      .version {
        row-gap: calc(var(--fs) * 0.44);
        column-gap: calc(var(--fs) * 0.625);
        padding: 0;
        border: none;
        margin-top: calc(var(--fs) * 3.87);
        button {
          border-radius: calc(var(--fs) * 1.25);
          padding: calc(var(--fs) * 0.62);
        }
      }
      .add-to-cart {
        padding: 0;
        margin-top: calc(var(--fs) * 3.87);
        border: none;
        .counter {
          margin-top: calc(var(--fs) * 1);
          button,
          input {
            width: calc(var(--fs) * 2.75);
            height: calc(var(--fs) * 2.5);
            img {
              width: calc(var(--fs) * 1.31);
              height: calc(var(--fs) * 1.31);
            }
          }
        }
        .buttons {
          gap: calc(var(--fs) * 0.2);
          margin-top: calc(var(--fs) * 1.27);
        }
      }
    }
  }
}
