#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
    359deg,
    rgba(0, 0, 0, 0.7) 0.59%,
    rgba(18, 18, 18, 0.7) 99.3%
  );
  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter: blur(1vw);
}
.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  height: calc(var(--fs) * 55.25);
  z-index: 5;
  border: 1px solid #eee;
  background:
    radial-gradient(
      39.46% 48.53% at 33.71% 28.9%,
      rgba(61, 96, 201, 0.2) 0%,
      rgba(61, 96, 201, 0) 100%
    ),
    linear-gradient(
      359deg,
      rgba(0, 0, 0, 0.7) 0.59%,
      rgba(18, 18, 18, 0.7) 99.3%
    );
  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter: blur(1vw);
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 100%;
  overflow: hidden;
  padding: calc(var(--top-space) * 0.45) 0 calc(var(--fs) * 5);
  border-radius: 0 0 calc(var(--fs) * 0.875) calc(var(--fs) * 0.875);
  border: 1px solid #242222;
  background: #121212;
  & > * {
    width: 100%;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: #6666663a;
    }
    .field {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: var(--fs);
      border: 0.25px solid #6666663a;
      background: rgba(217, 217, 217, 0.05);
      backdrop-filter: blur(0.2vw);
      -webkit-backdrop-filter: blur(0.2vw);
      margin-top: calc(var(--fs) * 2.5);
      input {
        width: calc(var(--fs) * 30.3125);
        height: calc(var(--fs) * 3);
        padding-left: calc(var(--fs) * 1);
        padding-right: calc(var(--fs) * 4);
      }
      button {
        position: absolute;
        right: calc(var(--fs) * 0.5);
        top: 50%;
        transform: translate(0%, -50%);
        width: calc(var(--fs) * 2.26);
        height: calc(var(--fs) * 2.26);
        border-radius: calc(var(--fs) * 0.75);
        background: linear-gradient(224deg, #6c8ae3 -47.2%, #3d60c9 74.45%);
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        img {
          width: 55%;
          height: auto;
          transition: transform 0.15s ease-out;
        }
      }
    }
  }
  .results {
    width: 100%;
    overflow-x: auto;
    margin-top: calc(var(--fs) * 3.5);
    .list-results {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: calc(var(--fs) * 4.56);
      padding: 0 calc(var(--hor-padding));
      width: fit-content;
      .result {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .pic {
          width: calc(var(--fs) * 21.91731);
          height: calc(var(--fs) * 19.33388);
          overflow: hidden;
          margin-bottom: calc(var(--fs) * 2);
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .info {
          margin-top: calc(var(--fs) * 1.25);
        }
      }
    }
  }
}

@media (orientation: portrait) {
  #search-overlay {
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  .search-bar {
    height: 125vw;
    z-index: 5;
    border: 1px solid #eee;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 100%;
    overflow: hidden;
    padding: calc(var(--top-space) * 1) 0 calc(var(--fs) * 5);
    border-radius: 0 0 calc(var(--fs) * 0.875) calc(var(--fs) * 0.875);
    border: 1px solid #242222;
    background: #121212;
    .head {
      .field {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: calc(var(--fs) * 0.875);
        border: 0.25px solid #6666663a;
        background: rgba(217, 217, 217, 0.05);
        backdrop-filter: blur(0.2vw);
        -webkit-backdrop-filter: blur(0.2vw);
        margin-top: calc(var(--fs) * 2.5);
        input {
          width: 100%;
          height: calc(var(--fs) * 2.75);
          padding-left: calc(var(--fs) * 1);
          padding-right: calc(var(--fs) * 4);
        }
        button {
          right: calc(var(--fs) * 0.5);
          top: 50%;
        }
      }
    }
    .results {
      overflow-x: auto;
      margin-top: calc(var(--fs) * 3.5);
      .list-results {
        gap: calc(var(--fs) * 2.5);
        padding: 0 calc(var(--hor-padding) * 2);
        .result {
          .pic {
            width: calc(var(--fs) * 21.91731 * 0.5);
            height: calc(var(--fs) * 19.33388 * 0.5);
            overflow: hidden;
            margin-bottom: calc(var(--fs) * 2);
          }
          .info {
            margin-top: calc(var(--fs) * 0.5);
          }
        }
      }
    }
  }

  @media (min-aspect-ratio: 0.625) {
    .search-bar {
      height: 75vw;
    }
  }
}
