#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
    359deg,
    rgba(0, 0, 0, 0.7) 0.59%,
    rgba(18, 18, 18, 0.7) 99.3%
  );
  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter: blur(1vw);
}
.search-bar {
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  height: initial;
  width: 100%;
  min-height: calc(var(--fs) * 55.25);
  z-index: 5;
  border: 1px solid #eee;
  background:
    radial-gradient(
      39.46% 48.53% at 33.71% 28.9%,
      rgba(61, 96, 201, 0.2) 0%,
      rgba(61, 96, 201, 0) 100%
    ),
    linear-gradient(
      359deg,
      rgba(0, 0, 0, 0.7) 0.59%,
      rgba(18, 18, 18, 0.7) 99.3%
    );
  backdrop-filter: blur(1vw);
  -webkit-backdrop-filter: blur(1vw);
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 100%;
  overflow: hidden;
  padding: calc(var(--top-space) * 0.45) 0 calc(var(--fs) * 0);
  border-radius: 0 0 calc(var(--fs) * 0.875) calc(var(--fs) * 0.875);
  border: 1px solid #242222;
  background: #121212;
  & > * {
    width: 100%;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: #6666663a;
    }
    
  }
  .results {
    width: 100%;
    margin-top: calc(var(--fs) * 3.5);
    .list-results {
      width: 100%;
      .result {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(var(--fs) * 21.91731);
        .pic {
          width: 100%;
          height: calc(var(--fs) * 19.33388);
          overflow: hidden;
          margin-bottom: calc(var(--fs) * 2);
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .info {
          margin-top: calc(var(--fs) * 1.25);
        }
      }
    }

    .bar-arrows {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;
      gap: calc(var(--fs) * 3);
      margin-top: calc(var(--fs) * 3.95);
      padding: 0 calc(var(--hor-padding));
      .my-slider-progress {
        height: calc(var(--fs) * 0.125);
        width: 100%;
        background-color: #444;
        .my-slider-progress-bar {
          width: 100%;
          height: 100%;
          background-color: var(--MAIN-BLUE);
          transform-origin: left center;
          transform: scaleX(0);
          transition: transform 0.25s ease-out;
        }
      }
      .splide__arrows {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: calc(var(--fs));
        button {
          width: calc(var(--fs) * 4.4375);
          height: calc(var(--fs) * 4.4375);
          border-radius: var(--fs);
          background: rgba(173, 173, 173, 0.25);
          display: flex;
          align-items: center;
          justify-content: center;
          position: static;
          top: unset;
          left: unset;
          right: unset;
          bottom: unset;
          transform: unset;
          &:first-of-type img {
            transform: scaleX(-1);
          }
          img {
            width: 50%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (orientation: landscape) and (min-aspect-ratio: 2) {
  .search-bar {
    height: calc(var(--fs) * 45);

    .results {
      margin-top: calc(var(--fs) * 2.5);
      .list-results {
        .result {
          .pic {
            width: calc(var(--fs) * 21.91731 * 0.85);
            height: calc(var(--fs) * 19.33388 * 0.85);
            margin-bottom: calc(var(--fs) * 1.5);
          }
          .info {
            margin-top: calc(var(--fs) * 0.875);
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  #search-overlay {
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  .search-bar {
    z-index: 5;
    border: 1px solid #eee;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 100%;
    overflow: hidden;
    padding: calc(var(--top-space) * 1) 0 calc(var(--fs) * 2);
    border-radius: 0 0 calc(var(--fs) * 0.875) calc(var(--fs) * 0.875);
    border: 1px solid #242222;
    background: #121212;
    min-height: unset;
    .head {
      padding: 0 calc(var(--hor-padding) * 3);

      
    }
    .results {
      margin-top: calc(var(--fs) * 3.5);
      .list-results {
        .result {
          width: calc(var(--fs) * 21.91731 * 0.5);
          .pic {
            height: calc(var(--fs) * 19.33388 * 0.5);
            overflow: hidden;
            margin-bottom: calc(var(--fs) * 1.5);
          }
          .info {
            margin-top: calc(var(--fs) * 0.5);
          }
        }
      }
    }
  }

  @media (min-aspect-ratio: 0.625) {
    // .search-bar {
    //   height: 75vw;
    // }
  }
}
